body{
    padding-top: 4px;
    overflow-x: hidden;
}

.nav-item{
    justify-content: space-between;
}

nav{
    border: 1px;
    border-radius: 10px;
    padding-left: 10px;
    margin: 10px;
    background-color: rgb(212, 212, 212);
}

li{
    padding: 2px;
    margin: 1px;
}

nav > a:hover{

}

#search {
    height : 43px;
    width  : 1000px;
}

nav > i{
    margin: 10;
}

.countainer-carousel{
    border: 1px;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    margin: 10px;
    padding: 8px;

}

.container-card{
    border: 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(212, 212, 212);
}

.countainer-carousel > img{
    width:1920;
    height:720;
}

footer{
    border: 1px;
    border-radius: 10px;
    text-align : center;
    background-color: aliceblue;
}